//
   Created by danielchoi on 2016-02-08.
link(href='/css/homepage.css', rel='stylesheet')
link(rel='stylesheet', href='/stylesheets/style.css')

style.
    .elt {
        float: left;
        padding-right: 50px;
    }
    ul.list-group {
        max-height: 300px;
        overflow-y: scroll;
    }

include navbar
- var comicid = cid;
- var viewer = viewerName;

body
    h1 #{title}
    .elt
        body
            if isSubbed
                form(method="post",action='/comic/'+comicid+'/subscribers/unsubscribe/')
                    input.btn.btn-default(type="submit", value="Unsubscribe")
            else
                form(method="post",action='/comic/' + comicid + '/subscribers/subscribe/')
                    input.btn.btn-default(type="submit", value="Subscribe")


        body
            each panel in panelarray
                - var author = panel.author;
                - var authorlink = '/user/'+author;
                img(src=panel.panelloc, width='400')
                p.
                    By #[a(href=authorlink) #{author}]
                if (author == viewerName)
                    form(method="post", action='/comic/' + comicid + '/remove/')
                        input.btn.btn-default(type="hidden", name="panelloc", value=panel.panelloc)
                        input.btn.btn-default(type="submit", value="Remove")
                br

        body
            h4 Subscribers:
            ul.list-group
                each s in subscribers
                    - var u = s.subscriber;
                    - var uLink = '/user/'+u;
                    li.list-group-item
                        a(href=uLink) #{u}

        body

            form(method="post",enctype="multipart/form-data",action='/newpanel/' + comicid)
                p
                    input.btn.btn-default.btn-file(type="file",name="upl")
                p
                    input.btn.btn-default(type="submit")
