//
   Created by danielchoi on 2016-02-08.
link(href='/css/homepage.css', rel='stylesheet')
link(rel='stylesheet', href='/stylesheets/style.css')

style.
    .elt {
        float: left;
        padding-right: 50px;
    }
    ul.list-group {
        width: 300px;
        overflow-y: scroll;
    }
    .panel.panel-default {
        width: 300px;
    }


include navbar
- var comicid = cid;
- var viewer = viewerName;

body
    h1 #{title}
    .elt
        body
            if isSubbed
                form(method="post",action='/comic/'+comicid+'/subscribers/unsubscribe/')
                    input.btn.btn-default(type="submit", value="Unsubscribe")
            else
                form(method="post",action='/comic/' + comicid + '/subscribers/subscribe/')
                    input.btn.btn-default(type="submit", value="Subscribe")


        body
            each panel in panelarray
                - var author = panel.author;
                - var authorlink = '/user/'+author;
                img(src=panel.panelloc, width='400')
                p.
                    By #[a(href=authorlink) #{author}]
                if (author == viewerName)

                    form(method="post", action='/comic/' + comicid + '/remove/')
                        input.btn.btn-default(type="hidden", name="panelloc", value=panel.panelloc)
                        input.btn.btn-default(type="submit", onclick = "return confirm('Are you sure?')", value="Remove")
                br

        body
        if (contributor)
            h2 Add a panel!
            form(method="post",enctype="multipart/form-data",action='/newpanel/' + comicid)
                p
                    input.btn.btn-default.btn-file(type="file",name="upl")
                p
                    input.btn.btn-default(type="submit")

        body
            h4 Subscribers:
            ul.list-group
                each s in subscribers
                    - var u = s.subscriber;
                    - var uLink = '/user/'+u;
                    li.list-group-item
                        a(href=uLink) #{u}


        body
            h2 Leave a comment!
            div.addCommentForm
            form(method='post', action='/newcomment/'+ comicid)
                .form-group
                    //input.form-control(name="commenter", placeholder="Name", required='')
                    textarea.form-control(name="comment", cols="40", rows="3",
                    placeholder='Enter your comment here!', required='')
                button.btn.btn-primary(type='submit') Submit
            p
                a(href='.')
                    button.btn.btn-default(type="button") Cancel


            #comments
                each comment in comments
                    if (comment != null)
                        h2 Comments:
                        - var click = '/user/' + comment.commenter
                            div.comment
                                //div.name= comment.commenter
                                br
                                h4 "
                                div.content= comment.content
                                h4 "
                                div.created_at= comment.created
                                hr
                                h4 By #[a(href=click) #{comment.commenter}]

                        if (comment.commenter == viewerName)
                            form(method="post", action='/comment/' + comicid + '/remove/')
                                input.btn.btn-default(type="hidden", name="comment", value=comment)
                                input.btn.btn-default(type="submit", onclick = "return confirm('Are you sure?')", value="Remove")
        //body
        //    h2 Comments:
        //    #{comments}
                //span.label Name :
                //input(type="text", class="nameTxt", name="commenter")
                //div
                //    span.label Comment :
                //    textarea(name="comment")
                //    div#addCommentSubmit
                //        input(type="submit", value="Save")
                //        br
                //        br
                //        #comments

        //
        //body
        //    h4 Comments:
        //    each co in comments
        //        - var commentString = co.newComment;
        //            .panel.panel-default
        //                .panel-body
        //                    | #{commentString}

        //each comment in comments
        //    div.comment
        //    div.name= comment.commenter
        //    div.created_at= comment.created
        //    br
        //    div.content= comment.content
        //    hr
        //