//
   Created by danielchoi on 2016-02-08.
link(href='/css/homepage.css', rel='stylesheet')
link(rel='stylesheet', href='/stylesheets/style.css')

style.
    .elt {
        float: left;
        padding-right: 50px;
    }
    ul.list-group {
        width: 300px;
        overflow-y: scroll;
    }
    .panel.panel-default {
        width: 300px;
    }


include navbar
- var comicid = cid;
- var viewer = viewerName;

body
    h1 #{title}
    .elt
        body
            if isSubbed
                form(method="post",action='/comic/'+comicid+'/subscribers/unsubscribe/')
                    input.btn.btn-default(type="submit", value="Unsubscribe")
            else
                form(method="post",action='/comic/' + comicid + '/subscribers/subscribe/')
                    input.btn.btn-default(type="submit", value="Subscribe")


        body
            each panel in panelarray
                - var author = panel.author;
                - var authorlink = '/user/'+author;
                img(src=panel.panelloc, width='400')
                p.
                    By #[a(href=authorlink) #{author}]
                if (author == viewerName)
                    //script(type='text/javascript').
                    //    function clicked() {
                    //        if (confirm('Do you want to delete?')) {
                    //            yourformelement.submit();
                    //        } else {
                    //            return false;
                    //        }}

                    form(method="post", action='/comic/' + comicid + '/remove/')
                        input.btn.btn-default(type="hidden", name="panelloc", value=panel.panelloc)
                        input.btn.btn-default(type="submit", onclick = "return confirm('Are you sure?')", value="Remove")
                br

        body
        if (contributor)
            h2 Add a panel!
            form(method="post",enctype="multipart/form-data",action='/newpanel/' + comicid)
                p
                    input.btn.btn-default.btn-file(type="file",name="upl")
                p
                    input.btn.btn-default(type="submit")

        body
            h4 Subscribers:
            ul.list-group
                each s in subscribers
                    - var u = s.subscriber;
                    - var uLink = '/user/'+u;
                    li.list-group-item
                        a(href=uLink) #{u}

        body

            //- var commentString = viewed.newComment;
            //    .panel.panel-default
            //        .panel-body
            //            | #{commentString}
                //p.
                //    #[a(href=commenterlink) #{commenter}] says:

        body
            h2 Add a comment!
            form(role='form', action='/newcomment/' + comicid + '/' + user.username, method='post')
                .form-group
                    textarea.form-control(name="newComment", cols="40", rows="3",
                    placeholder='Enter your comment here!')
                button.btn.btn-primary(type='submit') Submit
            p
                a(href='.')
                    button.btn.btn-default(type="button") Cancel