//
   Created by danielchoi on 2016-02-08.

extends layout

link(rel='stylesheet', href='/stylesheets/newcomic.css')


block content
    include navbar
    - var comicid = cid;
    - var viewer = viewerName;
    h1 #{title}
    body
        if isSubbed
            form(method="post",action='/comic/'+comicid+'/subscribers/unsubscribe/')
                input(type="submit", value="Unsubscribe")
        else
            form(method="post",action='/comic/' + comicid + '/subscribers/subscribe/')
                input(type="submit", value="Subscribe")


    body
        each panel in panelarray
            - var author = panel.author;
            - var authorlink = '/user/'+author;
            img(src=panel.panelloc, width='400')
            p.
                By #[a(href=authorlink) #{author}]
            if (author)
                form(method="post", action='/comic/' + comicid + '/remove')
                    input(type="submit", value="Remove")
            br

    body
        p.
            Subscribers:
        each s in subscribers
            - var u = s.subscriber;
            - var uLink = '/user/'+u;
            p.
                #[a(href=uLink) #{u}]


    body

        form(method="post",enctype="multipart/form-data",action='/newpanel/'+comicid)
            p
                input(type="file",name="upl")
            p
                input(type="submit")