//
   Created by danielchoi on 2016-02-08.

extends layout

link(rel='stylesheet', href='css/newcomic.css')


block content
    include toolbar
    h1 #{title}
    body
        each panel in panelarray
            - var author = panel.author;
            - var authorlink = '/user/'+author;
            img(src=panel.panelloc, width='400')
            p.
                By #[a(href=authorlink) #{author}]
            br

    body
        - var comicid = cid;
        form(method="post",enctype="multipart/form-data",action='/newpanel/'+comicid)
            p
                input(type="file",name="upl")
            p
                input(type="submit")
            p
                img(src=image)