//
   Created by danielchoi on 2016-02-08.

extends layout



block content
    include navbar
    h1 #{viewed.firstName}'s Profile
    - var profileUsername = viewed.username;
    - var viewerUsername = user.username;
    - var isViewerOwner = profileUsername == viewerUsername;
    body
        if !isViewerOwner
            if isSubbed
                form(method="post",action='/user/' + profileUsername + '/subscribers/unsubscribe/')
                    input(type="submit", value="Unsubscribe")
            else
                form(method="post",action='/user/' + profileUsername + '/subscribers/subscribe/')
                    input(type="submit", value="Subscribe")
    if (!viewed)
        a(href="/login") Login
        br
        a(href="/register") Register
    if (viewed)

        p Your information:
        p Username: #{viewed.username}
        // Display user image - will be fixed for now.
        img(src="http://media1.popsugar-assets.com/files/2013/01/02/4/192/1922398/3df2ea52acfaf1ad_kan.xxxlarge_2.jpg")
        p First name: #{viewed.firstName}
        p Last name: #{viewed.lastName}
        p Email: #{viewed.email}

    if (viewed.isContributor == 1)
        #badge [Contributor]
    if (viewed.isContributor == 0)
        #badge [Viewer]

        if (viewed)
            button(onclick='myFunction()') Follow
                p#demo
                script.
                    function myFunction() {
                        var x;
                        if (confirm("Want to follow this contributor?") == true) {
                            x = "You are now following this contributor!";
                        } else {
                            x = "You decided not to follow :(";
                        }
                        document.getElementById("demo").innerHTML = x;
                    }

    p List of contributions:
        each comic in comics
            br
            - var title = comic.title;
            - var link = '/comic/'+comic.cid;
            a(href=link) #{title}

    - var subscribers = viewed.followers;
    p Followers:
        each u in subscribers
            br
            - var follower = u.followerUserName;
            a(href='/user/'+follower) #{follower}

    - var followingU = viewed.following;
    p Following:
        each f in followingU
            br
            - var fUname = f.followedUserName;
            a(href='/user/' + fUname) #{fUname}


    p Subscriptions:
        - var subs = viewed.subs;
        each c in subs
            br
            - var subbedComic = c.subCid;
            - var subTitle = c.subComicName;
            - var cLink = '/comic/'+subbedComic;
            a(href=cLink) #{subTitle}

    if (viewed)
        form(name="add-estimation", method="post")
            div.input
                span.label Title
                input(type="text", name="title", placeholder="Title here")
            div.input
                span.label Description
                textarea(name="description", cols="40", rows="5", placeholder="Enter " +
                "a description!")
            div.actions
                input(type="submit", value="add")
    else
        li#badge [Viewer]
    a(href="/logout") Logout